---
---

@import 'normalize';
@import 'mixins';
@import 'variables';

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html {
    height: 100%;
    background-color: $colour_background;
    background: rgba(170,248,247,1);
    background: -moz-linear-gradient(-45deg, rgba(170,248,247,1) 0%, rgba(238,248,208,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(170,248,247,1)), color-stop(100%, rgba(238,248,208,1)));
    background: -webkit-linear-gradient(-45deg, rgba(170,248,247,1) 0%, rgba(238,248,208,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(170,248,247,1) 0%, rgba(238,248,208,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(170,248,247,1) 0%, rgba(238,248,208,1) 100%);
    background: linear-gradient(135deg, rgba(170,248,247,1) 0%, rgba(238,248,208,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaf8f7', endColorstr='#eef8d0', GradientType=1 );
    background-size: cover;
}

body {
    background-image: url(../assets/images/big-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    z-index: 1;
    min-height: 100%;
    height: 100%;
    color: $colour_black;
    font-family: $body_typeface;
    font-size: 1.125em; //18px
    height: 100%;
    line-height: 1.388888889em; //25px
    min-height: 100%;

    @media (min-width:$medium_screen) {
        line-height: 1.5em; //27px
    }
}

a {
    color: $colour_links;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        color:darken($colour_links, 10%);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading_typeface;
    line-height: 1.1em;
    margin-bottom: 0.33em;
    margin-top: 0;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

h1,
.primary-heading {
    font-size: 2.666666667em; //48px
    @media (min-width:$medium_screen) {
        font-size: 4em; //72px
    }
}

h2,
.secondary-heading {
    font-size: 2em; //36px
    @media (min-width:$medium_screen) {
        font-size: 2.444444444em; //44px
    }
}

h3,
.tertiary-heading {
    font-size: 1.166666667em; //21px
    line-height: 1.4em;
    @media (min-width:$medium_screen) {
        font-size: 1.277777778em; //23px
    }
}

h4,
.quarternary-heading {
    font-size: 1.055555556em; //19px
    @media (min-width:$medium_screen) {
        font-size: 1.166666667em; //21px
    }
}

p {
    margin: 0 0 1em 0;
}

pre, code, kbd, samp {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
}

code {
    @include vendor-prefix(border-radius, $border_radius);
    border: 1px solid $colour_borders;
    padding: 0 0.2em;
}

pre {
    background-color: $colour_background;
    @include vendor-prefix(border-radius, $border_radius);
    border: 1px solid $colour_borders;
    display: block;
    font-size: .9375em;
    line-height: 1.4375em;
    max-width: 100%;
    overflow-x: scroll;
    padding: 1em;
    white-space: pre-wrap;
    code {
        border: none;
        padding: 0;
    }
}

hr {
    border: none;
    border-top: 1px solid $colour_borders;
    margin: 0;
}

audio,
video,
img,
svg {
    max-width: 100%;
    height: auto;
}

ol,
ul {
    padding-left: 1.8em;
}

th {
    text-align: left;
}

strong, b {
    font-weight: $body_typeface_bold;
}

mark {
    background-color: lighten($colour_red, 20%);
}

blockquote {
    @include vendor-prefix(border-radius, $border_radius);
    clear: both;
    color: $colour_dark_grey;
    font-size: 1.125em;
    font-style: italic;
    line-height: 1.5em;
    margin: 1em 0;
    padding: 1em 1em 1em 1.5em;
}

input[type=file] {
    max-width: 100%;
    width: 100%;
}

input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=number],
input[type=tel],
input[type=search],
input[type=time],
input[type=datalist],
input[type=date],
textarea,
.standard-input {
    @include vendor-prefix(border-radius, $border_radius);
    border: 1px solid $colour_borders;
    max-width: 100%;
    padding: 0.66em;
}

input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=number],
input[type=tel],
input[type=search],
textarea {
    -webkit-appearance: none;
}

fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}

legend {
    font-family: $heading_typeface;
    font-size: 1.764705882em;
    font-weight: $heading_typeface_bold;
    line-height: 1.1em;
    margin-bottom: 0.33em;
}

table {
    border-collapse: collapse;
    font-size: 0.875em;
    margin: 1em 0;
    max-width: 100%;
    width: 100%;
    p {
        margin: 0;
    }
}

td, th {
    border-bottom: 1px solid $colour_borders;
    padding: 0.75em 0.6em;
    text-align: left;
}

th {
    background: inherit;
}

th[scope="row"] {
    color: $colour_dark_grey;
}

tbody {
    tr:hover {
        background-color: $colour_background;
        th[scope="row"] {
            color: $colour_black;
        }

    }
}

caption {
    color: $colour_dark_grey;
    margin: 0;
    padding: 0.5em 0;
    text-align: left;
}

tfoot {
    font-size: 0.875em;
    font-weight: normal;
    td {
        text-align: right;
        border: none;
    }
}

@import 'components';
@import 'site-header';
@import 'site-footer';

.atp-logo {
    max-height: 417px;
    max-width: 317px;
    margin: 0 auto;
}

.hero {
    @include clearfix;
    width: 100%;
    position: relative;
    z-index: 2;
}

.hero__primary {
    margin-bottom: 1.5em;
    @media (min-width: 50em) {
        width: 30%;
        float: left;
        margin-right: 3%;
        margin-bottom: 0;
    }
}

.hero__secondary {
    @media (min-width: 50em) {
        width: 67%;
        float: left;
        text-align: left;
    }

    h2 {
        position: relative;
        top: 27px;
        font-size: 1.777em;
        color: #fff;
        @media (min-width: 33em) {
            top: -7px;
            font-size: 2em;
        }
        @media (min-width: 67.777777778em) {
            font-size: 2.5em;
        }
    }
}

.secondary__wrapper {
    background-color: $colour_red;
    padding: 1.5em 2em 3em;
    border-radius: 13px;
    @media (min-width: 33em) {
        padding: 3em;
    }
}

.email-signup {
    margin-top: 5em;
    margin: 5em auto 0;
    @media (min-width: 50em) {
        margin: 2em 0 0;
    }
    max-width: 500px;
    label {
        display: block;
        margin-bottom: 0;
        font-size: 1.166666667em;
        color: rgba(255,255,255,0.8);
    }

    .email {
        border:0;
        padding: 0.75em;
        width: 100%;
        min-height: 50px;
        margin-top: 1em;
        @media (min-width: 20em) {
            width: 70%;
            border-bottom-right-radius:0;
            border-top-right-radius:0;
            display: inline-block;
        }
    }

    .button {
        width: 100%;
        margin-top: 1em;
        @media (min-width: 20em) {
            width: 30%;
            display: inline-block;
            border-bottom-left-radius:0;
            border-top-left-radius:0;
            padding: 0.75em 0;
            text-align: center;
        }
    }
}


.site-footer {
    color: #fff;
    padding: 1em 0;
    width: auto;
    h2 {
        color: #fff;
        text-decoration: none;
    }
    a {
        color: $colour_black;
        font-size: 0.777777778em;
        text-decoration: underline;
    }
}

.icon--twitter {
    margin-left: 2em;
    position: relative;
    top: 4px;
    svg {
        height: 44px;
        width: 44px;
        @media (min-width: 27em) {
            height: 21px;
            width: 21px;
        }
    }

}
